.full-content {
  margin: 0 !important;
  padding: 0 !important;
}

.flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.clip-rect {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
}