.icons-group + .config-item,
.config-item + .config-item,
.config-item-segment + .config-item,
.config-item + .config-item-segment,
.config-item-segment + .config-item-segment {
  margin-top: 14px;
}

.config-item-segment {
  header {
    padding: 14px 0;
    font-size: 14px;
    font-weight: bold;
    text-indent: .1em;

    & + .config-item {
      margin-top: 14px;
    }
  }
  header + .config-item {
    margin-top: 0;
  }
}

.config-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  position: relative;
  padding: 5px 10px;
  // padding-right: 5px;;
  width: 100%;
  min-height: 40px;
  border: solid 1px #eee;
  border-radius: 3px;
  background: #e6e8eb44;

  .config-item-header {
    align-self: flex-start;
    flex-shrink: 0;
    font-size: 12px;
    line-height: 30px;
  }
  .config-item-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 5px;
    // width: 100%;
  }

  .cr-slider-wrap {
    display: flex;
    justify-content: space-evenly;
    margin: 8px auto;
    width: 100%;

    &::before,
    &::after {
      font-family: "iconfont";
      font-size: 18px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      font-weight: 500;
      color: #ccc;
    }
    &::before {
      content: '\e897';
    }
    &::after {
      content: '\e898';
    }

    .cr-slider {
      margin: 0;
      width: 62%;

      &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        transition: .25s;
        background: #cccccc;
      }
      &:hover::-webkit-slider-runnable-track {
        background: #adadad;
      }
      &:active::-webkit-slider-runnable-track {
        background: #409EFF;
      }
    }
  }

  .el-input,
  .el-input-number {
    max-width: 200px;
    height: 30px;
    line-height: 30px;
    background: white;

    .el-input__inner {
      height: 30px;
      line-height: 30px;
    }
    .el-input-number__increase,
    .el-input-number__decrease {
      width: 24px;
      height: 50%;
      line-height: 15px;
      border-color: #eee;
      border-radius: 0;
    }
  }
  .el-textarea {
    textarea {
      margin-top: -5px;
      margin-left: -10px;
      padding: 10px;
      width: calc(100% + 15px);
      height: calc(100% + 10px);
      border: 0px;
      padding: 0px;
      background: white;
      min-height: 40px;
    }
  }
  .el-slider {
    width: 200px;
  }
  .el-collapse {
    width: 100%;
    border: unset;

    .el-collapse-item {
      border: unset;

      &:last-child .el-collapse-item__header {
        border-bottom: solid 1px transparent;
      }
    }
    .el-collapse-item__header {
      height: 40px;
      line-height: 40px;
      background: transparent;
      border: unset;
      border-bottom: solid 1px #EBEEF5;

      &.is-active {
        border-bottom: solid 1px #EBEEF5 !important;
      }
    }
    .el-collapse-item__wrap {
      background: transparent;
      border: unset;
    }
    .el-collapse-item__content {
      padding: 10px 0 2px 0;
      line-height: 0;
    }
  }
}
.close-tip {
  padding: 3px 6px;
  line-height: 24px;
  font-size: 12px;
  letter-spacing: 2px;
  transform: scale(0.9);
  transform-origin: right;
  cursor: pointer;
}
.vc-chrome {
  box-shadow: 0 4px 6px 0 rgb(240,240,240);
  border: solid 1px #e6e8eb;
  border-radius: 1px;
  z-index: 9;
  transition: .25s;
  clip-path: polygon(-10% -10%, 110% -10%, 110% -10%, -10% -10%);

  &.active {
    clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
  }

  .vc-chrome-saturation-wrap {
    border-radius: 0;
  }
}
.fullscreen-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.slider-con {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  height: 30px;

  .slider {
    width: 170px !important;

    .el-slider__runway {
      margin: 10px 0;
    }
  }
  .slider-des {
    width: 25px;
    line-height: 30px;
    font-size: 12px;
    text-align: right;
  }
}