@import url('https://at.alicdn.com/t/font_2401027_y1t0pajxiv.css');
@import url("./forms.scss");
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  position: absolute;
  width: 6px;
  border-radius: 0;
  background-color: #d6d7d9;
  cursor: pointer;
}
/* 定义滚动条轨道 内阴影+圆角 */
::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: white;
  cursor: pointer;
}
/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb {
  width: 6px;
  height: 100px;
  border-radius: 4px;
  background-color: #d6d7d9;
  cursor: pointer;
}

/***************** 编辑器页面基础布局及样式 *****************/
#editor {
  min-width: 1366px;
  height: 100vh;
  #header {
    padding: 0 36px;
    height: 56px !important;
    background: #222;
  }
  #body {
    position: relative;
    height: calc(100vh - 56px);
  }
  #main {
    padding: 0;
    height: 100%;
    background: #f6f6f6;
  }
  #left-panel,
  #right-panel {
    background: white;
    z-index: 9;
  }
}

/* Draggable */

.flip-list-move {
  transition: transform .25s;
}

/***************** 通用样式 *****************/
.el-button {
  border: none;
  border-radius: 0;
  &:hover {
    opacity: .95;
  }
  &:active {
    opacity: .9;
  }
}
.el-input {
  & > input {
    border-radius: 0;
    border-color: #eee;
  }
}

/* Transition */

.fade-fast-enter-active, .fade-fast-leave-active {
  transition: opacity .1s;
}
.fade-fast-enter, .fade-fast-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}