* {
  box-sizing: border-box;
}
// &::-webkit-scrollbar {
//   position: absolute;
//   width: 6px;
//   border-radius: 0;
//   background-color: #d6d7d9;
//   cursor: pointer;
// }
// /* 定义滚动条轨道 内阴影+圆角 */
// &::-webkit-scrollbar-track {
//   border-radius: 1px;
//   background-color: white;
//   cursor: pointer;
// }
// /* 定义滑块 内阴影+圆角 */
// &::-webkit-scrollbar-thumb {
//   width: 6px;
//   height: 100px;
//   border-radius: 4px;
//   background-color: #d6d7d9;
//   cursor: pointer;
// }

/***************** 编辑器页面基础布局及样式 *****************/
#editor {
  min-width: 1366px;
  height: 100vh;
  #header {
    padding: 0 36px;
    height: 56px !important;
    background: #222;
  }
  #body {
    height: calc(100vh - 56px);
  }
  #main {
    padding: 0;
    background: #f0f3f7;
    overflow: hidden scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
    &::-webkit-scrollbar-track {
      background-color: #f0f3f7;
    }
  }
  #left-panel,
  #right-panel {
    background: white;
  }
}

/***************** 通用样式 *****************/
.el-button {
  border: none;
  border-radius: 0;
  &:hover {
    opacity: .95;
  }
  &:active {
    opacity: .9;
  }
}

