.full-content {
  margin: 0 !important;
  padding: 0 !important;
}

.flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.clip-rect {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
}

/* themes */

.color-danger {
  color: var(--color-danger) !important;
}

/* functional */

.clicked {
  opacity: 1;

  &:hover {
    opacity: .95;
  }
  &:active {
    opacity: .9;
  }
}
.clicked-white {
  background: white;
  transition: .25s;

  &:hover {
    background: #f3f3f3;
  }
  &:active {
    background: #e8e8e8;
  }
}

.fullscreen-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
